<section class="dashboard-header">
    <button type="submit" id="new-post-btn" class="new-post-btn">+ CRATE NEW POST</button>
</section>



{{!-- {{#if posts.length}}
<section>
    <h2>Your Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}} --}}

<script src="/scripts/createpost.js"></script>