<section class="dashboard-header tw">
    <button type="submit" id="new-post-btn" class="new-post-btn">+ CERATE NEW POST</button>
</section>



{{#if posts.length}}
<section class="tw">
    <ul class="post-list">
        <h2>My Tech-Post Dashboard</h2>
        {{#each posts as |post|}}
        <li class="db-all-posts">
            {{> db-post-each post}}
            <a href="/dashboard/edit/{{post.id}}" class="signupkey">EDIT THIS POST</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<br>
<br>

<script src="/scripts/createpost.js"></script>