<div class="home-single-post tw">

    {{> home-one-post post}}

    <hr>

    {{#if loggedIn}}
    <form class="com-form">
        <div>
            <textarea name="com-body"></textarea>
        </div>
        <div>
            <button type="submit" class="post-btn">ADD COMMENT</button>
        </div>
    </form>
    <hr>
    <a href="/dashboard" class="signupkey"> &larr; Go to dashboard</a>
    {{else}}

    <a href="/login" class="signupkey"> LOGIN TO COMMENT</a>

    {{/if}}
    <hr>
    <hr>
    <h3>COMMENTS</h3>
    <hr>
    {{> all-comments post.comments}}

    {{#if loggedIn}}
    <script src="/scripts/postcomment.js"></script>
    {{/if}}
</div>


