<section class="login-section">

    <div class="login-header tw">
        <h1>Log In</h1>
    </div>

    <div class="login-body tw">
        <form class="login-form">
                <label for="lu">USERNAME</label> <br>
                <input type="text" id="login-un" /> <br> <hr>
                <label for="lp">PASSWORD</label> <br>
                <input type="password" id="login-pw" />
            <div>
                <button type="submit" class="login-btn">Log In!</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="signupkey tw">no account? SIGNUP</a>
</section>

<script src="/scripts/login.js"></script>
