<section class="postform-section">

    <div class="postform-header tw">
        <h1>New Post</h1>
    </div>

    <div class="postform-body tw">
        <form class="postform-form">
                <label for="pt">Title</label> <br>
                <input type="text" id="post-t" /> <br> <hr>
                <label for="pc">Content</label> <br>
                <textarea class="form-control" id="post-c" rows="3"></textarea>

            <div>
                <button type="submit" class="post-btn">POST IT NOW!</button>
            </div>
        </form>
    </div>

</section>

<script src="/scripts/postform.js"></script>
