<section class="signup-section">

    <div class="signup-header tw">
        <h1>Sign Up</h1>
    </div>

    <div class="signup-body tw">
        <form class="signup-form">
                <label for="lu">USERNAME</label> <br>
                <input type="text" id="signup-un" /> <br> <hr>
                <label for="lp">PASSWORD (min 8 length) </label> <br>
                <input type="password" id="signup-pw" />
            <div>
                <button type="submit" class="signup-btn">Submit!</button>
            </div>
        </form>
    </div>

    <a href="/login" class="signupkey tw">have an account? LOGIN</a>
</section>

<script src="/scripts/signup.js"></script>
